.card-img-top {
  height: 200px;
  /* text-align: center; */
}
.card-desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-product-name{
  overflow: hidden;
  white-space: nowrap;
}
